@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  nav,
  footer,
  header,
  .fixed,
  .sticky,
  .print\:hidden {
    display: none !important;
  }

  body, html, #root, main, div {
    overflow: visible !important;
    max-height: none !important;
    height: auto !important;
  }

  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  th, td, h2, h3, span, p {
    color: #1d4ed8 !important;
  }
}
@media print { #report-content .divide-y > div { padding-top: 1px !important; padding-bottom: 1px !important; } #report-content { font-size: 9px !important; } }
@media print { header img { width: 64px !important; height: 64px !important; } }
